[Unit]
Description=Timer quotidien - Maintenance Roulotte

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target

[Activate service]
sudo systemctl daemon-reload
sudo systemctl enable roulotte-maintenance.timer
sudo systemctl start roulotte-maintenance.timer
